{% extends 'Templates/app.twig' %}

{% block content %}
<div class="alert alert-warning">
    <p>
        Send validation email  Verification !!!
    </p>
    <button class="btn btn-warning">
        <a href="{{ url_for('auth.verification.send') }}">Send validation</a>
    </button>
</div>
{% endblock %}